In [15]:
import pandas as pd
import os

In [16]:
arquivos_rel_cc = r"C:\Users\MarkosPereira.exc\Downloads\BIdopool\ZGeral\Relação CC".replace("\\","/")

In [17]:
for raiz, diretorios, arquivos in os.walk(arquivos_rel_cc):
    for arquivo in arquivos:
        print(arquivo)

Base CC Jacarei.xlsx
Base CC Mucuri (2).xlsx
Base CC Mucuri (3).xlsx
Base CC Mucuri (5).xlsx
Base CC Mucuri.xlsx

In [18]:
#Transformando os arquivos em fata frames individuais e adicionando-os em uma lista
df_arq_cap = list()
for raiz, diretorios, arquivos in os.walk(arquivos_rel_cc):
    for arquivo in arquivos:
        caminho_completo = os.path.join(raiz, arquivo)
        df = pd.read_excel(caminho_completo, engine='openpyxl', parse_dates=True)
        df_arq_cap.append(df)

In [19]:
for dataframe in df_arq_cap:
    display(dataframe.head(6))

,CENTRO DE CUSTO,DESCRICAO CC,AREA,Gerência,RESPONSAVEL
0,100001,CONSELHO,NaN,NaN,DAVID FEFFER
1,100002,PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
2,100003,SECRET. PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
3,100004,ASSISTÊNCIA DA PRESIDÊNCIA,INATIVO,NaN,DAVID FEFFER
4,100005,SERV.CONTAB.FISCAIS,INATIVO,NaN,DAVID FEFFER
5,100006,SERVIÇOS SRA. FANNY,INATIVO,NaN,DAVID FEFFER

,CENTRO DE CUSTO,DESCRICAO CC,AREA,Gerência,RESPONSAVEL
0,100001,CONSELHO,NaN,NaN,DAVID FEFFER
1,100002,PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
2,100003,SECRET. PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
3,100004,ASSISTÊNCIA DA PRESIDÊNCIA,INATIVO,NaN,DAVID FEFFER
4,100005,SERV.CONTAB.FISCAIS,INATIVO,NaN,DAVID FEFFER
5,100006,SERVIÇOS SRA. FANNY,INATIVO,NaN,DAVID FEFFER

,CENTRO DE CUSTO,DESCRICAO CC,AREA,Gerência,RESPONSAVEL
0,100001,CONSELHO,NaN,NaN,DAVID FEFFER
1,100002,PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
2,100003,SECRET. PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
3,100004,ASSISTÊNCIA DA PRESIDÊNCIA,INATIVO,NaN,DAVID FEFFER
4,100005,SERV.CONTAB.FISCAIS,INATIVO,NaN,DAVID FEFFER
5,100006,SERVIÇOS SRA. FANNY,INATIVO,NaN,DAVID FEFFER

,CENTRO DE CUSTO,DESCRICAO CC,AREA,Gerência,RESPONSAVEL
0,;3;0),CONSELHO,NaN,NaN,DAVID FEFFER
1,100002,PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
2,100003,SECRET. PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
3,100004,ASSISTÊNCIA DA PRESIDÊNCIA,INATIVO,NaN,DAVID FEFFER
4,100005,SERV.CONTAB.FISCAIS,INATIVO,NaN,DAVID FEFFER
5,100006,SERVIÇOS SRA. FANNY,INATIVO,NaN,DAVID FEFFER

,CENTRO DE CUSTO,DESCRICAO CC,AREA,Gerência,RESPONSAVEL
0,100001,CONSELHO,ADM_COSPC,NaN,DAVID FEFFER
1,100002,PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
2,100003,SECRET. PRESIDÊNCIA,ADM_COSPC,NaN,DAVID FEFFER
3,100004,ASSISTÊNCIA DA PRESIDÊNCIA,INATIVO,NaN,DAVID FEFFER
4,100005,SERV.CONTAB.FISCAIS,INATIVO,NaN,DAVID FEFFER
5,100006,SERVIÇOS SRA. FANNY,INATIVO,NaN,DAVID FEFFER

In [20]:
for dataframe in df_arq_cap:
    print(dataframe.columns)

Index(['CENTRO DE CUSTO', 'DESCRICAO CC', 'AREA', 'Gerência', 'RESPONSAVEL'], dtype='object')
Index(['CENTRO DE CUSTO', 'DESCRICAO CC', 'AREA', 'Gerência', 'RESPONSAVEL'], dtype='object')
Index(['CENTRO DE CUSTO', 'DESCRICAO CC', 'AREA', 'Gerência', 'RESPONSAVEL'], dtype='object')
Index(['CENTRO DE CUSTO', 'DESCRICAO CC', 'AREA', 'Gerência', 'RESPONSAVEL'], dtype='object')
Index(['CENTRO DE CUSTO', 'DESCRICAO CC', 'AREA', 'Gerência', 'RESPONSAVEL'], dtype='object')

In [21]:
data_frame_cap = pd.concat(df_arq_cap)

In [22]:
data_frame_cap.shape

(589265, 5)

In [23]:
data_frame_cap = data_frame_cap.drop_duplicates(subset='CENTRO DE CUSTO', keep='first')

In [24]:
data_frame_cap.shape

(117854, 5)

## Transformação CC

In [25]:
data_frame_cap['CENTRO DE CUSTO'] = data_frame_cap['CENTRO DE CUSTO'].str.upper()
data_frame_cap['CENTRO DE CUSTO'] = data_frame_cap['CENTRO DE CUSTO'].str.strip()

## Transformação descrição CC

In [26]:
data_frame_cap['DESCRICAO CC'] = data_frame_cap['DESCRICAO CC'].str.upper()
data_frame_cap['DESCRICAO CC'] = data_frame_cap['DESCRICAO CC'].str.strip()

In [27]:
data_frame_cap['DESCRICAO CC'].unique()

array(['CONSELHO', 'PRESIDÊNCIA', 'SECRET. PRESIDÊNCIA', ..., 'VIL048',
       'VIL049', 'WRO004'], dtype=object)

In [28]:
# salvando o arquivo combinado no local correto
# C:\Users\MarkosPereira.exc\OneDrive - Suzano S A\Área de Trabalho\pool Mucuri\totalccs.xlsx
destino = r"C:\Users\MarkosPereira.exc\Suzano S A\mobilidade taxi\totalccs.xlsx".replace("\\","/")
data_frame_cap.to_excel(destino)